$p: rgb(255, 62, 107);
$w: #eee;
$b: #222;
body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    font-size: 25px;
    &__title {
        font-size: 35px;
    }
}
ul.list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 600px;
    max-height: 70px;
}

.link {
    margin: 0 20px;
    display: block;
    height: 100%;
    &.sign {
        max-width: 300px;
        border: 1px solid $p;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        margin: 0;
    }
}

a {
    display: inline-block;
    height: 100%;

    padding: 10px;
    color: $p;
}
.footer {
    &__text {
    }
}
